body {
    margin: 0;
    line-height: 1.6;
    letter-spacing: -.00278rem;
    font-size: 1rem;
    font-family: Arial,x-locale-body,sans-serif ;
}

.content {
    max-width: 1264px;
	margin: auto;
	display:flex;
    flex-direction: column;
    align-items: center;
}

form {
	text-align:right;
	padding:1em;
	align-items: center;
	justify-items: center;
	display:flex;
}
label {
	font-weight: 800;
	display: block;
	align-self: left;
}

.nav-link, button {
	display: block;
    margin-top: 10px;
    max-width: max-content;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    background-color: turquoise;
    font-weight: 800;
    font-size: 1.5rem;
	text-align: center;
	align-self: center;
	color: palevioletred;
	text-decoration: none;
}
button {
	padding: .75rem 1.5rem;
}
.nav-link:hover, button:hover {
	background-color: palevioletred;
	color: turquoise;
	cursor: pointer;
}

ul {
    max-width: 500px;
    padding-left: 0;
}

li {
	padding:0.5em;
	text-align:center;
	list-style-type:none;
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	width:300px;
	margin-bottom:0.5em;
}
nav {
    display: flex;
    flex-direction: row;
}
.hidden {
	display:none;
}